@model CloudTrixApp.Models.Employee

@{
    ViewBag.Title = "Create Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Scripts/AppJquery/DateTimePicker/bootstrap-datepicker.min.css" rel="stylesheet" />
<div class="wraper container-fluid ">
    <div class="row">
        <div class="col col-md-11">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Create Employee </h3>
                </div>
                <div class="panel-body">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4>Employee</h4>
                            <hr />
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.EmployeeID)

                            <div class="form-group">
                                @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.FirstName)
                                    @Html.ValidationMessageFor(model => model.FirstName)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.LastName)
                                    @Html.ValidationMessageFor(model => model.LastName)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.DOB, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.DOB, new { @class = "datepicker" })
                                    @Html.ValidationMessageFor(model => model.DOB)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.DOJ, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.DOJ, new { @class = "datepicker" })
                                    @Html.ValidationMessageFor(model => model.DOJ)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Gender, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Gender)
                                    @Html.ValidationMessageFor(model => model.Gender)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.EMail, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.EMail)
                                    @Html.ValidationMessageFor(model => model.EMail)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Mobile, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Mobile)
                                    @Html.ValidationMessageFor(model => model.Mobile)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Address1, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Address1)
                                    @Html.ValidationMessageFor(model => model.Address1)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Address2, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Address2)
                                    @Html.ValidationMessageFor(model => model.Address2)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Salary, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Salary)
                                    @Html.ValidationMessageFor(model => model.Salary)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.SignatureURL, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.SignatureURL)
                                    @Html.ValidationMessageFor(model => model.SignatureURL)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.UserName)
                                    @Html.ValidationMessageFor(model => model.UserName)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Password)
                                    @Html.ValidationMessageFor(model => model.Password)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CompanyID, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.CompanyID)
                                    @Html.ValidationMessageFor(model => model.CompanyID)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.AddUserID, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.AddUserID)
                                    @Html.ValidationMessageFor(model => model.AddUserID)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.AddDate, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.AddDate, new { @class = "datepicker" })
                                    @Html.ValidationMessageFor(model => model.AddDate)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ArchiveUserID, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ArchiveUserID)
                                    @Html.ValidationMessageFor(model => model.ArchiveUserID)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ArchiveDate, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ArchiveDate, new { @class = "datepicker" })
                                    @Html.ValidationMessageFor(model => model.ArchiveDate)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
<script src="~/Scripts/AppJquery/DateTimePicker/bootstrap-datepicker.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
        $('#EmployeeDOJ').datepicker({
            format: 'mm/dd/yyyy',
            startDate: '-10y'
        });

        $('#EmployeeDOB').datepicker({
            format: 'mm/dd/yyyy',
            startDate: new Date('1900-1-5'),
            endDate: new Date('2009-12-31')
        });
</script>
}

